<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
</head>
<body>

<h2> <%= title %> </h2>
<p>college form</p>

<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>email</th>
    <th>phone</th>
    <th>address</th>
    <th>date</th>
    <th>edit</th>
    <th>delete</th> 
  </tr>

  <% for(let i=0; i<list.length; i++) { %>
  <tr>
    <td> <%= list[i].id %> </td>
    <td> <%= list[i].firstName %> </td>
    <td> <%= list[i].lastName %></td>
    <td> <%= list[i].email %></td>
    <td> <%= list[i].phone %> </td>
    <td> <%= list[i].address %></td>
    <td><%= list[i].date %></td>
    <td>

      <form action="/edit-user" method="put" id="<%= list[i].id %>-ed" >
        <input type="hidden" value="<%= list[i].id %>" name="userId">
        <button type="edit">edit</button>
      </form>
    </td>

    <td>
      <form action="/delete-user" method="post" id="<%= list[i].id %>-de">
        <input type="hidden" value="<%= list[i].id %>" name="userId">
        <button type="submit">delete</button>
      </form>
    </td>
  </tr>
  <% }%>
</table>

</body>
</html>

