<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
</head>
<body>

<h2> <%= title %> </h2>
<p>college form</p>

<table>
  <tr>
    <th>SR.</th>
    <th>Title</th>
    <th>created on</th>
    <th>updated on</th> 
  </tr>

  <% for(let i=0; i<list.length; i++) { %>
  <tr>
    <td> <%= i+1 %> </td>
    <td> <%= list[i].title %> </td>
    <td> <%= list[i].createDateTime %></td>
    <td> <%= list[i].updatedDateTime %></td>
    <td><a href="/view-post/<%= list[i].postId %>" target="_blank">view</a></td>
    <td>

      <form action="/edit-user" method="put" id="<%= list[i].id %>-ed" >
        <input type="hidden" value="<%= list[i].id %>" name="userId">
        <button type="edit">edit</button>
      </form>
    </td>

    <td>
      <form action="/delete-user" method="post" id="<%= list[i].id %>-de">
        <input type="hidden" value="<%= list[i].id %>" name="userId">
        <button type="submit">delete</button>
      </form>
    </td>
  </tr>
  <% }%>
</table>

</body>
</html>

