<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #DDD;
        }

        tr:hover {
            background-color: #D6EEEE;
        }

        .log {
            border-radius: 3px;
            float: right;
            margin-right: 21px;
            margin-left: 23px;
            padding: 4px;
            margin: 5px;
            border: 1px solid;
        }
    </style>
</head>

<body>
    <h1>Profile</h1>
    <form action="">
        <p>Name: <%= userData.name %>
        </p>
        <p>Email: <%= userData.email %>
        </p>
        <p>Phone: <%= userData.mobile %>
        </p>
        <p>id: <%= userData.id %>
        </p>
    </form>


    <table>
        <tr>
            <th>SR.</th>
            <th>Post id</th>
            <th>Author</th>
            <th>Title</th>
            <th>created on</th>
            <th>updated on</th>
        </tr>
        <% for(let i=0; i < datatxt.length; i++){ %>

            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td> postid </td>
                <td>
                    <%= userData.name %>
                </td>
                <td>
                    <%= datatxt[i].title %>
                </td>
                <td>
                    <%= datatxt[i].createDateTime %>
                </td>
                <td>
                    <%= datatxt[i].updatedDateTime %>
                </td>
                <td><a href="/view-post/<%= datatxt[i].postId %>" target="_blank">view</a></td>
                <td><a href="/edit-post/<%= datatxt[i].postId %>" target="_blank"><button>Edit</button></a></td>

                <td>
                    <form id="<%=i %>" action="/delete-post/<%= datatxt[i].postId %>" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </td>

            </tr>
            <% } %>

    </table>

</body>

</html>