<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-form</title>
</head>

<body>
    <h1>Profile</h1>
    <div>
        <p>Name: <%= data.firstName %>
        </p>
        <p>Email: <%= data.email %>
        </p>
        <p>Phone: <%= data.mobile %>
        </p>
        <p>id: <%= data.pkUserId %>
        </p>
    </div>
</body>

<script>
    let u = {
        'id': '<%= data.pkUserId %>',
        'name': '<%= data.firstName %>',
        'email': '<%= data.email %>',
        'mobile': '<%= data.mobile %>',
        'password': '<%= data.password %>'
    };
    console.log('uuuuuuuuuuuu', u);
    console.log('sssssssssss',localStorage.getItem('userData'));
    if (!localStorage.getItem('userData')) {
        localStorage.setItem('userData', JSON.stringify(u));
    }
</script>

</html>